#purRegister .header{
    width:100%;
    height:41px;
}
#purRegister .content{
    width:100%;
    height:auto;
    position:absolute;
    top:41px;
    bottom:0px;
}
.header a{
    display: inline-block;
    width:10%;
    height:41px;
    line-height: 41px;
    font-size: 13px;
    color:#fff;
}
.tit{
    display: inline-block;
    width:80%;
    height:41px;
    line-height: 41px;
    font-size: 13px;
    color:#fff;
}
/*content*/
.tit1{
    display: inline-block;
    width: auto;
    height: 15px;
    margin:11px 0 12px 10%;
    font:15px/15px '微软雅黑';
}
.proMes{
    width:80%;
    margin:5px 10%;
    font-size: 12px;
}
.companyName{
    font:15px/15px '微软雅黑';
}
.registerInp{
    width:77%;
    height:40px;
    margin:0 10% 10px 10%;
    padding-left:3%;
    display: block;
    font-size: 12px;
}
#messageNum{
    width:53%;
    display: inline-block;
    border-right:0;
    margin-right: 0;
    float: left;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
#getNum{
    display: inline-block;
    float: left;
    width:24%;
    height:42px;
    background: rgba(255,153,0,0.3);
    color:rgba(0,0,0,0.7);
    border:1px solid #666;
    border-radius: 2px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-color:rgba(102,102,102,0.6) ;
    border-left: 0;
}
.okBtn{
    margin:30px 10%;
    font-size: 18px;
}