#supOrder .header{
    width: 100%;
    height:41px;
    position: absolute;
    top:0;
    left:0;
}
#supOrder .content{
    width: 100%;
    height: auto;
    position: absolute;
    top:41px;
    bottom:53px;
}
#supOrder .footer{
    width:100%;
    height:53px;
    position: absolute;
    bottom:0;
}
/*header*/
.header p{
    width:100%;
    height:15px;
    text-align: center;
    font:13px/13px '微软雅黑';
    margin-top:15px;
    color: #ffffff;
}
/*Content*/
/*以及选项卡nav*/
#myTab{
    width:100%;
    height: 42px;
    display: flex;
    border:0;
}
#myTab li{
    flex:1;
}
#myTab>li>a{
    text-align: center;
    padding:0;
    border:0;
    color:#000;
    font:14px/42px "微软雅黑";
    margin-right: 0;
}
#myTab > li.active > a, #myTab > li.active > a:hover, #myTab > li.active > a:focus{
    color: #ff9900;
}
/*二级选项卡nav*/
#mySecTab{
    width:100%;
    height: 44px;
    display: flex;
    border:0;
}
#mySecTab li{
    height:44px;
    flex:1;
    background: rgba(102,102,102,0.4);
    margin:0 2px;
}
#mySecTab>li>a{
    height: 44px;
    text-align: center;
    padding:0;
    border:0;
    color:#000;
    font:12px/22px "微软雅黑";
    margin-right: 0;
    display: flex;
    flex-direction: column;
}
#mySecTab>li>a>b{
    font:11px/22px '微软雅黑';
    flex:1;
}
#mySecTab>li>a>span{
    flex: 1;
}
#mySecTab > li.active > a, #mySecTab > li.active > a:hover, #mySecTab > li.active > a:focus{
    color: #ffffff;
    background: #ff9900;
}
#myTabContent{
    width:100%;
    height: auto;
    position:absolute ;
    top:42px;
    bottom:0px;
    overflow-y: scroll;
}
#mySecTabContent{
    width:100%;
    height: auto;
    position:absolute ;
    top:44px;
    bottom:0px;
    overflow-y: scroll;
}
/*订单*/
.orderDetail{
    position: relative;
}
.orderHeader{
    width:100%;
    height: 28px;
    display: flex;
    border-bottom: 1px solid #666666;
    border-color: rgba(102,102,102,0.2);
    margin-top:2px;
}
.orderCode{
    height: 28px;
    font:15px/28px '微软雅黑';
    flex: 1;
    margin-left:15px;
}
.orderState{
    flex: 1;
    height: 28px;
    font:15px/28px '微软雅黑';
    text-align: right;
    margin-right: 15px;
}
.orderContent{
    border-bottom:1px solid #666666;
}
.orderName{
    width: auto;
    height: 12px;
    font:12px/12px '微软雅黑';
    margin:10px 0 5px 15px;
}
.timeIcon{
    width: auto;
    height: 12px;
    font:12px/12px '微软雅黑';
    margin:0 0 10px 15px;
}
.orderTime{
    display: inline-block;
}
.nextIcon{
    display: inline-block;
    float:right;
    margin-right: 10px;
    color:#303034;
}
.orderSum{
    width: auto;
    height: 12px;
    font:12px/12px '微软雅黑';
    margin:0 0 5px 15px;
    color: #cd2f2f;
}
.orderBtn{
    width: auto;
    height: 30px;
    float: right;
    margin-bottom:5px;
}
.submitBtn{
    width: auto;
    height: 30px;
    position: absolute;
    top:78px;
    right:0px;
    line-height: 30px;
    font-size: 12px;
}
.subBtn{
    border:0;
    border-radius: 2px;
    color: #ffffff;
    padding:0 5px;
    background: #ff9900;
    margin-right: 15px;
}
.disagree,.agree,.getMoney{
    float: left;
    width: 50px;
    height: 30px;
    border:0;
    color: #ffffff;
    font-size:12px;
    border-radius: 2px;
}
.disagree{
    background: #cccccc;
    margin-right: 30px;
}
.agree{
    background: #ff9900;
    margin-right: 15px;
}
/*提款按钮*/
.getMoney{
    background: #ff9900;
    margin-right: 15px;
}
/*实得金额*/
.getRealMoney{
    width: auto;
    height: 12px;
    font:13px/13px '微软雅黑';
    color:#cd2f2f;
    margin:10px 0 10px 15px;
}
/*待还款金额,日期*/
.orderRepaySum,.rpDate{
    width: auto;
    height: 12px;
    font:12px/12px '微软雅黑';
    margin:0 0 5px 15px;
    color: #cd2f2f;
}
.repay{
    clear: both;
    width: auto;
    margin-left: 15px;
    color:#666;
    margin-bottom:5px;
    font-size:12px;
}
.repay>b{
    float: right;
    margin-right: 15px;
}
.orderInfo{
    width: auto;
    font-size:12px;
    margin:0 15px 15px 15px;
}
/*已完成界面*/
.sucHeader{
    width: 100%;
    height: 44px;
    background: rgba(255,153,0,0.4);
    font:14px/14px '微软雅黑';
    overflow: hidden;
}
.sucHeader>p{
    width: auto;
    height: 14px;
    margin: 15px;
}
/*已完成list*/
.sucDetail{
    width: 100%;
    height: auto;
    position: absolute;
    top:44px;
    bottom:0;
    overflow-y: scroll;
}
/*已关闭界面*/
.closeHeader{
    width: 100%;
    height: 44px;
    background: rgba(255,153,0,0.4);
    font:14px/14px '微软雅黑';
    overflow: hidden;
}
.closeHeader>p{
    width: auto;
    height: 14px;
    margin: 15px;
}
/*已关闭list*/
.closeDetail{
    width: 100%;
    height: auto;
    position: absolute;
    top:44px;
    bottom:0;
    overflow-y: scroll;
}
/*footer*/
.footer ul{
    width: 100%;
    height: 53px;
    display: flex;
}
.list{
    position: relative;
    flex: 1;
    height:53px;
}
.list>a{
    margin: 8px auto;
    display: block;
    width:25px;
    height: 37px;

}
.list>a>p{
    width: 25px;
    height: 22px;
    text-align: center;
    margin-bottom:5px ;
}
.list>a>p>img{
    width:22px;
    height: 22px;
}
.list>a>span{
    width: auto;
    height: 10px;
    display: block;
    font:10px/10px "微软雅黑";
    color:#fff;
}
.num{
    width: 11px;
    height: 11px;
    background: #ff0000;
    position: absolute;
    top:6px;
    left:56%;
    border-radius: 6px;
    color: #ffffff;
}