#supDetailClose .header{
    width:100%;
    height:41px;
}
#supDetailClose .content{
    width:100%;
    height:auto;
    position:absolute;
    top:41px;
    bottom:0px;
    overflow-y: scroll;
}
.header a{
    display: inline-block;
    width:10%;
    height:41px;
    line-height: 41px;
    font-size: 13px;
    color:#fff;
}
.tit{
    display: inline-block;
    width:80%;
    height:41px;
    line-height: 41px;
    font-size: 13px;
    color:#fff;
}
/*content*/
.orderStateBox,.orderInfoBox,.orderDetailBox,.orderMesBox{
    width: 100%;
    height: auto;
}
/*第一部分*/
.orderStateBox{
    text-align: center;
}
.txt1,.state{
    display: inline-block;
    font:15px/15px '微软雅黑';
    width: auto;
    height: 15px;
    margin-top:27px;
    margin-bottom:40px;
}
.state{
    color:#cd2f2f;
}

/*第二部分*/
.orderInfoBox>div>span{
    display: inline-block;
    width: auto;
    height: 12px;
    font:12px/12px '微软雅黑';
    margin-top:10px;
}
.tit1,.tit2,.tit3{
    margin-left:4%;
}
.contentSup{
    width: 80px;
    height: 30px;
    border:0;
    color: #ffffff;
    float: right;
    margin-right:4%;
    font-size: 10px;
}
.cle{
    clear: both;
}
.phoneNum{
    float: right;
    margin-right:4%;
}
.tit3,.repayDate{
    margin-top:5px;
    margin-bottom:10px;
}
.sumMoney{
    color:#cd2f2f;
}
/*第三部分*/
.orderDetailBox{
    margin-top:15px;
}
.mes1,.mes2,.mes3,.mes4{
    font:12px/12px '微软雅黑';
    height: 12px;
    width: auto;
    margin-left:4%;
    margin-top:10px;
    display: inline-block;
}
.mes4{
    margin-bottom: 10px;
}
.mes5,.mes6{
    font:12px/12px '微软雅黑';
    display: inline-block;
    height: 12px;
    width: auto;
    margin:10px 4%;
}
.proName,.proPrice,.proNum,.proSum,.transMoney,.sumMoney{
    display: inline-block;
    font:12px/12px '微软雅黑';
    height: 12px;
    width: auto;
    float: right;
    margin-right: 4%;
    margin-top:10px;
}
.transMoney,.sumMoney{
    margin-top:10px;
}
/*第四部分*/
.orderMesBox{
    padding-top:10px;
}
.info1,.info2,.info3,.info4,.orderCode,.orderUser,.orderTime,.orderWay{
    font:12px/12px '微软雅黑';
    color:#666;
    height: 12px;
    width: auto;
    margin:10px 0 0 4%;
}
.info4{
    margin-bottom: 20px;
}




